.fade-in {
  animation: fadeIn 0.5s ease-in infinite forwards alternate;
}
.reveal {
  animation: reveal 0.5s ease-in infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

@keyframes reveal {
  from {
    background-color: black;
  }

  to {
    background-color: none;
  }
}
